{% extends "base.html" %}
{% block title %}MakePost{% endblock %}
{% block content %}
<h3 align="centre"> Make a Post</h3>
<br>
<form method="POST">
    <textarea name="post" id="text" class="form-control"></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Create Post</button>
    </div>
</form>
<br>
<div align="center">
    <a href="/forum"
    ><button type="button" class="btn btn-secondary btn-lg">Back
    </button></a>
</div>
{% endblock %}